<section class="about-movie-grid">

    <a href="https://letterboxd.com/film/all-that-jazz/" target="_blank" class="about-movie-btn">All that Jazz (1979)</a>
    <a href="https://letterboxd.com/film/sorcerer/" target="_blank" class="about-movie-btn">Sorcerer (1977)</a>
    <a href="https://letterboxd.com/film/the-cook-the-thief-his-wife-her-lover/" target="_blank" class="about-movie-btn">The Cook, the Thief, His Wife & Her Lover (1989)</a>

    <a href="https://letterboxd.com/film/ran/" target="_blank" class="about-movie-btn">Ran (1985)</a>
    <a href="https://letterboxd.com/film/my-cousin-vinny/" target="_blank" class="about-movie-btn">My Cousin Vinny (1992)</a>
    <a href="https://letterboxd.com/film/bloodsport/" target="_blank" class="about-movie-btn">Bloodsport (1988)</a>
</section>

<p class="about-guess-prompt">
    Which one do you think is my +1 and actually my favourite and the one I've seen hundreds of times?
</p>

<div class="guess-input-wrap">
    <div class="input-group guess-input-group">
        <input id="guess-input" type="text" class="form-control guess-input-field" placeholder="Enter the movie name here" placeholder="Enter the movie name here">
    <button id="guess-btn" type="button" class="btn btn-light guess-submit-btn">Submit</button>
    </div>
    <p id="guess-result" class="mt-3"></p>
</div>